
.muteContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.muteButton {
    padding: 8px;
    padding-bottom: 1px;
    background: transparent; // No background
    border: none; // Remove default button border
    cursor: pointer; // Show pointer cursor on hover
    transition: transform 0.3s ease; // Optional: add a subtle scale effect on hover
    color: black;
    &:hover {
        transform: scale(1.1); // Optional: slightly enlarge on hover
    }
}

.subtitle{
    opacity:0.85;
}

// .icon {
//     position: absolute;
//     transition: opacity 0.3s ease;
    
//     &.hidden {
//         opacity: 0;
//     }
    
//     &.visible {
//         opacity: 1;
//     }
// }

