@font-face {
    font-family: 'Kiltier';
    src: url('/fonts/kiltierregular-yqkgo.otf') format('otf');
}



.cardPopcontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F7E7CE;
    overflow: hidden;
    //flex-direction: column;
    //font-family: 'Kiltier';
}



.popZone{
    padding: 50px;
    //font-size: 0.8em;
    pointer-events: auto;
    display: flex;
    gap: 1.65em;
    @media (max-width: 768px){
        gap: 1em;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
    @media (max-width: 1024px){
        //gap: 1.5em;
        padding-top: 300px;
        padding-bottom: 300px;
    }
}
.text{
    font-size: 10em;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 50px;
    pointer-events: none;
    //font-family: 'Times New Roman', Times, serif;
    letter-spacing: -10px;
    position: relative;
    z-index: 10;
    
    @media (max-width: 768px){
        font-size: clamp(2em, 4em, 10em);
        letter-spacing: -5px;

    }
    @media (max-width: 1024px){
        font-size: clamp(2em, 8em, 10em);
        letter-spacing: -5px;
    }
}
.these{
    font-size: 10em;
    letter-spacing: -10px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;  
    @media (max-width: 768px){
        font-size: clamp(2em, 4em, 10em);
        letter-spacing: -5px;
    } 
    @media (max-width: 1024px){
        font-size: clamp(2em, 8em, 10em);
        letter-spacing: -5px;
    }
}

.image{
    //z-index: 10;
    position: absolute;
    left:0;
    top:0;
    border-radius: 10px;
    pointer-events: none;
    z-index: 2;

}
.orange{
    color: #FF4F00;
}

.around{

    font-family: 'Helvetica';
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;

    .topLeft{
        position: absolute;
        left: 2%;
        top: 2%;
        @media (max-width: 768px){
            top:38%;
            left:3%;
        }
    }
    .topRight{
        position: absolute;
        right: 2%;
        top: 2%;
        @media (max-width: 768px){
            top:38%;
            right:3%;
        }
    }
    .botLeft{
        position: absolute;
        left: 2%;
        top: 90%;
        @media (max-width: 768px){
            top:63%;
            left:5%;
        }
    }
    .botRight{
        position: absolute;
        right: 2%;
        top: 90%;
        @media (max-width: 768px){
            top:63%;
            right:5%;
        }
    }
    .muteButton{
        position: absolute;
        left: 48%;
        top: 88%;
        @media (max-width: 768px){
            top:80%;
            left:47%;
        }
    }
    
}

